.edit-entry {
   border-radius: .5rem;
   padding: 1rem;
   background-color:#e2e1de;
   font-family: 'Fredoka One', cursive;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   box-shadow: 3px 3px 10px;
  }


form {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.edit-content {
padding: 1rem 2rem;
display: flex;
flex-direction: column;
gap: .5rem;
}

.edit-content >*:nth-child(1) {
    display: flex;
    justify-content: start;
    gap: .5rem;
}

.edit-content >*:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
}

.edit-buttons {
    display: flex;
    justify-content: end;
    gap: .5rem;
 
}

.edit-buttons button {
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    font-family: 'Fredoka One', cursive;
}

.edit-content textarea {
   width: 100%
}

.empty-notice {
    text-align: center;
}