.entry-list {
  gap: 4rem;
  background-color: rgb(236, 232, 232);
  display: flex;
  justify-content: center;
}

.entry {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #e2e1de;
  font-family: "Fredoka One", cursive;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 3px 3px 10px;
  min-height: 300px;
}

.details {
  padding: 0.5rem;
  width: 75%;
  height: 75%;
  word-break: break-word;
  align-self: center;
  font-size: 1.25rem;
}

.details h3 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-header button {
  background-color: transparent;
  border: none;
}

.form-buttons {
  display: flex;
  gap: 0.5rem;
}

.entry-header button svg {
  width: 25px;
}

.form-buttons > *:nth-child(1),
.form-buttons > *:nth-child(2) {
  fill: #595858;
}
.entry-header button svg:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(-1px);
}
