nav {
  background-color: rgb(236, 232, 232);
  display: flex;
}

.filter-selection {
  text-align: center;
}
nav col {
  text-align: center;
}
nav a {
  color: #3c79f5 !important;
  text-decoration: none !important;
  font-family: "Fredoka One", cursive;
  letter-spacing: 1px;
  font-size: 1.15rem;
}

nav button {
  background-color: transparent;
  border: none;
}

nav button svg {
  width: 25px;
  fill: #8a8888;
}

nav button svg:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(-1px);
}

nav button svg:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
