nav {
    background-color: #066163;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  nav>* {
    color: black;
    text-decoration: none;
    padding: 1rem 0rem;
    font-family: "Fredoka One", cursive;
  }
  
  nav>*:hover {
    text-decoration: underline;
  }
  
  nav>button {
    background-color: transparent;
    border: none;
  }
  
  nav>button svg {
    width: 25px;
    fill: #8a8888;
  }
  
  nav>button svg:hover {
    transition: .3s;
    cursor: pointer;
    transform: translateY(-1px);
    /* box-shadow: 0 10px 30px -15px; */
  }
  
  nav>button svg:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }