.signup-container, .login-container{
    height: 100% 
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.access-form {
    display: flex;
    height: 100%;
}


.design {

    background-color: #3C79F5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-container {
    background-color: rgb(236, 232, 232);
}

.row {
    flex: 1;

}

.signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 300px;
    text-align: center;
    padding: 2rem;
}



.input {
    width: 100%;
}

.signup-content button {
    padding: .5rem;
    border-radius: .25rem;
    border: none;
}


.btn-div {
    width: 100%;
}

.sub-btn {
    width: 100%;
}

.access-message {
    display: flex;
    gap: .5rem;
}