/* #root {
    border: 1px solid black;
    display: flex;
} */

.img {
    /* border: 1px solid red; */

}

.design {
    
}
.signup-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.access-form {
    display: flex;
}

.access-form>* {
    /* border: 1px solid red; */
}

.design {
    flex-grow: 1;
    background-color: #3C79F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%
}

.signup-container {
    flex-grow: 1;
    width: 55%;
    background-color: rgb(236, 232, 232);
}

.signup-content {
    /* background-color: rgb(205, 202, 202); */
    /* border: 1px solid red; */
    /* box-shadow: 5px 5px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 200px;
}



.input{
    width: 100%;
}

.signup-content button {
    padding: .5rem;
    border-radius: .25rem;
    border: none;
}


.btn-div {
    width: 100%;
}

.sub-btn {
    width: 100%;
}

.access-message {
    display: flex;
    gap: .5rem;
    /* flex-direction:  column; */
}