@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins&display=swap");

#root {
  /* border: 1px solid black; */
  height: 100vh;
  background-color: rgb(236, 232, 232);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100%;
}

.title {
  font-size: 4rem;
  color: #3c79f5;

  text-align: center;
  padding: 3rem 1rem 0rem 1rem;
  font-family: "Fredoka One", cursive;
  letter-spacing: 2px;
}

.header-right span {
  font-size: 1.5rem;
  color: black;
}

.del-btn svg:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.empty-notice {
  text-align: center;
  margin-top: 100px;
}

